<div id="company" style="background-color: #f6f4f2;">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="company__content my-5 py-3">
                    <header class="text-center">
                        <h2>運営会社</h2>
                    </header>

                    <div class="company__info">
                        <table class="table">
                            <tr class="border-top">
                                <th scope="row">名称</th>
                                <td>有限会社ブログル</td>
                            </tr>

                            <tr>
                                <th scope="row">所在地</th>
                                <td>〒185-0012 東京都⼋王⼦市寺町１</td>
                            </tr>

                            <tr>
                                <th scope="row">取引銀行</th>
                                <td>三菱UFJ銀⾏ ⼋王⼦中央⽀店</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>