<!-- HOLOSCOPE -->
<div id="holoscope" class="holoscope">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="holoscope__content content-block">
                    <header>
                        <p id="horoscope" class="holoscope__outline-title outline-title add-to-menu"
                            data-headding="ホロスコープ">
                            HOLOSCOPE
                        </p>
                    </header>

                    <section>
                        <p class="fw-bold">
                            地球上の特定の場所から空を⾒たときに、惑星や⽉、太陽、星座がどの位置にあるのかによって占うもの
                        </p>

                        <p>細密占星術では、⻄洋占星術の占い師のほかプロフェッショナルな⽅々に読み解いていただいた内容をデータベース化し、あなたの惑星の位置を瞬時に計算することによって、占い結果を表⺬させています
                        </p>

                        <p>
                            ホロスコープは、あなたの本質を⾒極めるのに⾮常に⼤切な図となりま
                            す</p>
                    </section>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="holoscope__image">
                    <img src="{{ urls.images }}/index/horoscope.png" style="max-width: 100%">
                </div>
            </div>
        </div>
    </div>
</div><!-- /Holoscope -->