{% extends "layout/base.html" %}

{% block pageTitle %}新規登録{% endblock %}

{% block app %}
<div class="col-sm-8 offset-sm-2">

    {% embed "components/page-label.html" with {'label': '新規利用者登録'} %}{% endembed %}

    {% embed "components/content-wrapper.html" %}
    {% block content %}
    <form action="/user/signup.php" method="post">
        {% if verifyFailed == 'urlfailed' %}
        無効なURLにアクセスしました。再度メールアドレスの登録をお願いします。
        {%
                                                                                    elseif verifyFailed == 'emailExists' %}
        ご入力いただいたメールアドレスは登録済みです。 {% endif %}
        <h2 class="fs-5">メールアドレスを入力してください。</h2>
        <div class="input-group mb-3">
            <input type="email" name="email" class="form-control" placeholder="user@example.com" aria-label="メールアドレスを入力"
                aria-describedby="button-addon2" required />
            <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                確認メールを送信
            </button>
        </div>
    </form>
    <div class="mt-3">
        <p>または<a href="/user/login.php">ログイン</a>する。</p>
    </div>
    </section>
    {% endblock %}
    {% endembed %}
</div>
{% endblock %}