<select name="{{ name }}_year">
    <option value="" selected>選択</option>
    {% for year in range("now"|date('Y'), 1600) %}
    <option value="{{ year }}">{{ year }}</option>
    {% endfor %}
</select>
年
<select name="{{ name }}_month">
    <option value="" selected>選択</option>
    <OPTION value=1>1</OPTION>
    <OPTION value=2>2</OPTION>
    <OPTION value=3>3</OPTION>
    <OPTION value=4>4</OPTION>
    <OPTION value=5>5</OPTION>
    <OPTION value=6>6</OPTION>
    <OPTION value=7>7</OPTION>
    <OPTION value=8>8</OPTION>
    <OPTION value=9>9</OPTION>
    <OPTION value=10>10</OPTION>
    <OPTION value=11>11</OPTION>
    <OPTION value=12>12</OPTION>
</select>
月
<select name="{{ name }}_day">
    <option value="" selected>選択</option>
    {% for date in 1..31 %}
    <option value="{{ date }}">{{ date }}</option>
    {% endfor %}
</select>
日