{% extends "layout/base.html" %}
{% block pageTitle %}プライバシーポリシー{% endblock %}
{% block app %}
{% embed "components/page-label.html" with {'label': 'プライバシーポリシー'} %}{% endembed %}
{% embed "components/content-wrapper.html" with {'id': 'privacy-policy'} %}
{% block content %}
<div class="col">
    <dl>
        <dt class="fs-5">情報の収集</dt>
        <dd class="mb-5">「細密占星術」では会員登録時にのみ皆様から情報を入手しています。<br>
            これらの情報はサービスご利用時にご利用者の本人確認や、占いサービスを利用する際の個人情報入力の簡略化、プレゼント送付先、サービスの向上として使用されます。<br>
            「細密占星術」では会員情報を会員の許可なく第三者に販売や公開などはいたしません。<br>
            「細密占星術t」は、登録していただいた個人情報を細心の注意をもって管理しています。
        </dd>


        <dt class="fs-5">クッキーの使用について</dt>
        <dd class="mb-5">
            「細密占星術」会員向けサービスではクッキーを使用して会員がログイン中かどうかの<br>
            識別を行っています。又、入力項目の情報入力の簡略化のためクッキーを使用しています。<br>
            「細密占星術」ではクッキーを使用しての情報の取得は行っていません。
        </dd>

        <dt class="fs-5">個人情報の利用</dt>
        <dd class="mb-5">
            「細密占星術」では、登録された会員情報に基づいて効率的に情報を提供したり、<br>
            広告主様の効果的な広告活動のために、パートナー企業や広告主様に対し、個人情報を公開することはありませんが会員の統計情報を開示することがあります。<br>
            その際、会員本人の許可なく個人情報を販売や公開することはありません。
        </dd>
    </dl>
</div>
{% endblock content %}
{% endembed %}
{% endblock app %}