{% extends "layout/base.html" %}
{% block pageTitle %}利用規約{% endblock %}
{% block app %}
{% embed "components/page-label.html" with {'label': '利用規約'} %}{% endembed %}
{% embed "components/content-wrapper.html" with {'id': 'terms'} %}
{% block content %}
<div class="col">
    <div>
        <dl>
            <dt>第一条 「細密占星術」利用規約</dt>
            <dd class="mb-5">
                「細密占星術」利用規約（以下「本規約」という）は、有限会社ブログル（以下「当社」という）が運営するインターネットサービス「細密占星術」（以下「本サービス」という）」をご利用いただくための、当社と会員との間の契約です。<br>
                会員とは、本規約に同意のうえ、定められた方法により会員登録をした方をいいます。会員と当社は本規約を承諾し、遵守するものとします。<br>
                当社は、会員に事前の通知をすることなく、本規約を変更することができます。本規約が変更された場合、変更後の規約が適用されるものとし、会員は変更後の規約に同意したものとみなされます。</dd>

            <dt>第二条 目的と範囲</dt>
            <dd class="mb-5">
                本サービスは、会員に占いサービス及び関連商品の販売を第三条で規定する料金で提供をすることを目的とします。<br>
                本サービスの範囲は、本サービス上で有料で提供する情報を利用・閲覧できるサービス、 メールマガジンサービス、関連商品販売サービスなど、本サービス上の全サービスとします。
            </dd>

            <dt>第三条 会費</dt>
            <dd class="mb-5">
                本サービスは、当社が無料と規定する以外のサービスは、全て有料とします。<br>
                イ） 本サービスを利用する会員は、月額500円　の会費を支払うものとします。<br>
                ロ） プレミアム占いの利用、関連商品の購入などの、当社が指定したサービスは月会費には含まれません。<br>
                支払い方法及び付随する問題については、インターネット上の本サービスに掲示します。<br>
                本サービス退会時に、ご購入いただいた月額使用料の残があるときも使用料の返金 は致しません。
            </dd>

            <dt>第四条 情報の開示と利用</dt>
            <dd class="mb-5">
                当社は原則として、会員がメンバー登録、および本サービス利用において当社に対して開示
                した会員情報のうち、本サービス上で開示される会員情報以外については、事前の同意なく第三者に対して開示しません。但し、法令に基づく公的機関からの照会及び当社が法令によって開示義務を負う場合などはその限りではありません。<br>
                会員情報は当社のプライバシーポリシー・個人情報保護方針に従い、当社が管理いたします。
            </dd>

            <dt>第五条 サービスの停止</dt>
            <dd class="mb-5">
                当社は、会員が次の各号のいずれかに該当すると判断したときは、事前に通知することな
                く、当該会員によるサービスの利用停止、または会員資格の取消を行う場合があります。これにより会員に何らかの損害が生じたとしても、当社は一切責任を負いません。<br>
                <ul class="list-unstyled">
                    <li>会員登録の際の記入事項に虚偽があることが判明した場合</li>
                    <li>ID、パスワードを不正に使用した場合</li>
                    <li>本サービスによって提供された情報を不正に使用した場合</li>
                    <li>当該会員が当社ないし第三者に損害を与える危険があると、当社が判断した場合</li>
                    <li>その他、当社が、本サービスの利用について不適当と判断する場合</li>
                </ul>
            </dd>

            <dt>第六条 会員資格の譲渡の禁止</dt>
            <dd class="mb-5">
                会員資格を第三者に譲渡・貸与すること、また第三者と共有することはできません。
            </dd>

            <dt>第七条 会員情報の変更</dt>
            <dd class="mb-5">
                会員は、登録した事項に変更が生じた場合には、速やかに変更手続きを行うものとします。 変更手続きがなされなかったことにより生じた損害について、当社は一切責任を負いません。
            </dd>

            <dt>第八条 ID、パスワードの管理</dt>
            <dd class="mb-5">
                会員は、他人に知られることがないようID、パスワードを会員本人が責任を持って管理す
                るものとします。ID、パスワードの第三者による不正使用により会員に損害が生じた場合でも、入力されたID、パスワードが登録されたものと一致すること
                を所定の方法により確認した場合、会員による利用があったものとみなします。よって、それらが盗用、不正使用その他の事情により会員以外の者が利用してい
                る場合であっても、それにより生じた損害については当社は一切責任を負いません。
            </dd>

            <dt>第九条 サービス提供者の責任</dt>
            <dd class="mb-5">
                当社は、本サービスを提供するにあたり、当社の故意又は過失に起因して会員に損害が生じ た場合、直接の損害に限り賠償するものとします。<br>
                前項にも係わらず、当社は会員に派生した使用機会の逸失、データの消失等のあらゆる種類 の間接損害に対して、一切の責任を負いません。
            </dd>

            <dt>第十条 禁止事項</dt>
            <dd class="mb-5">
                当社は、会員が本サービスを利用するにあたり、以下に該当する行為をすることを禁止します。<br>
                <ul class="list-unstyled">
                    <li>公序良俗に反する行為</li>
                    <li>会員または第三者の知的所有権を侵害する行為</li>
                    <li>会員または第三者の財産・信用・プライバシーを侵害する行為</li>
                    <li>法令に反する行為</li>
                    <li>他の会員または第三者に不利益を与える行為</li>
                    <li>他の会員または第三者に対する誹謗中傷</li>
                    <li>本サービスの運営を妨げ、または、当社の信用を毀損する行為</li>
                    <li>本規約に違反する行為</li>
                    <li>その他、当社が当該会員の行為として不適切であると認めた行為</li>
                </ul>
            </dd>

            <dt>第十一条 無断使用の禁止</dt>
            <dd class="mb-5">
                本サービス上の文章・図形・デザイン、また商標・ロゴマークなどに関する著作権その他の 諸権利は、当社または原著作者他の権利者に帰属します。したがって、これらの情報を無断使用・無断転載することを禁止します。
            </dd>

            <dt>第十二条 サイトへの接続</dt>
            <dd class="mb-5">
                本サービスのサービスを受けるためのサイトへの接続は、会員が自己の費用で行うものとし
                ます。当社のサイトへの接続中、回線の都合などで接続が中断した場合にも、当社では一切責任を負いません。ただし、第八条に基づき損害賠償責任を負う場合
                はこの限りではありません。
            </dd>

            <dt>第十三条 サービスの中断</dt>
            <dd class="mb-5">
                当社は以下の事由により、会員に事前に連絡することなく、一時的にサービスの提供を中断
                する事があります。このサービスの中断による損害について、当社は一切責任を負いません。ただし、第八条に基づき損害賠償責任を負う場合はこの限りではありません。<br>
                <ul class="list-unstyled">
                    <li>当社のシステムの保守、点検、修理などのメンテナンスを行う場合</li>
                    <li>火災・停電などの事故・事件、また地震・水害・落雷などの災害、テロ行為、インターネットを通じての不正侵入などによりサービスの提供ができなくなった場合</li>
                    <li>その他、運用上または技術上、本サービスの一時的な中断を必要とした場合</li>
                </ul>
            </dd>

            <dt>第十四条 提供サービスの変更・廃止</dt>
            <dd class="mb-5">
                当社は、本サービスの内容を、会員への事前の通知なくして変更することがあります。会員はそれに同意するものとし、会員に不利益または損害が発生したとしても、当社は一切責任を負いません。当社は本サービスを最低14日間の予告期間をおいて、停止または廃止することができます。その際は本サービス上で告知するものとします。
            </dd>

            <dt>第十五条 裁判所</dt>
            <dd class="mb-5">
                本規約は、本サービス利用に関し紛糾が生じた際には、当社所在地を管轄する地方裁判所を 第一審の裁判所とします。
            </dd>

            <dt>第十六条 効力</dt>
            <dd class="mb-5">
                本規約は、令和元年10月1日から発効するものとします。
            </dd>
        </dl>
    </div>
</div>
{% endblock content %}
{% endembed %}
{% endblock app %}